/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    background: rgb(45, 45, 45);
}
